html {
    min-height: 100%;
}
body {
    min-height: 100%;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Microsoft YaHei';
    background: linear-gradient(#87ceeb, #00bfff) no-repeat;
    line-height: 110%;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
a, a:hover, a:active, a:link {
    text-decoration: none;
}
a.btn {
    display: block;
    padding: 0.4em;
    margin: 0.3em 0;
    text-align: center;
    border: 3px solid #dec158;
    background: wheat;
    color: #000;
}
a.btn:hover,
a.btn:active {
    color: #000;
    border: 3px solid #a58954;
}
em {
    color: #b50000;
    font-style: normal;
    animation: emphasis 0.5s ease-in-out infinite;
    backface-visibility: hidden;
}
#game_window {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
.panel {
    border: 3px solid #666;
    background: #fff4e1;
    padding: 0.5em;
    margin: 0.5em auto;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.panel h3 {
    margin-top: 0;
    font-weight: normal;
}
#status_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.warning {
    color: #ffb300;
}
.critical {
    color: #b50000;
    animation: shake 0.5s infinite;
}
#message_window {
    min-height: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#message_container {
    flex-grow: 1;
}
#choices_container a {
    transform: scale(0.5);
    animation: popout 0.2s forwards;
}

#choices_container a:nth-child(2) { animation-delay: 0.02s; }
#choices_container a:nth-child(3) { animation-delay: 0.04s; }
#choices_container a:nth-child(4) { animation-delay: 0.06s; }
#choices_container a:nth-child(5) { animation-delay: 0.08s; }
#choices_container a:nth-child(6) { animation-delay: 0.10s; }
#choices_container a:nth-child(7) { animation-delay: 0.12s; }
#choices_container a:nth-child(8) { animation-delay: 0.14s; }
#choices_container a:nth-child(9) { animation-delay: 0.16s; }
#choices_container a:nth-child(10) { animation-delay: 0.18s; }

#items_window li, #status_window li {
    cursor: pointer;
}

.r_common {}
.r_uncommon {
    color: #008a00;
}
.r_rare {
    color: #8b008b;
}
.r_legendary {
    color: #ec9000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal_content {
    position: relative;
    top: 20%;
    border: 3px solid #666;
    background: #fff4e1;
    padding: 0.5em;
    margin: 0 auto;
    width: 400px;
    min-height: 200px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

footer {
    text-align: center;
    margin: 2em auto;
    font-size: 0.5em;
    color: #fff;
}
footer a,
footer a:hover,
footer a:active,
footer a:link {
    color: #fff;
    text-decoration: underline;
}

@keyframes popout {
    from {transform: scale(0.5)}
    80% {transform: scale(1.01)}
    to {transform: scale(1)}
}
@keyframes shake {
    10%, 30% {transform: translate(0, 2px)}
    20%, 40% {transform: translate(0, -2px)}
}
@keyframes emphasis {
    50% {color: rgb(255, 100, 100)}
}

@media screen and (max-width: 720px) {
    body {
        font-size: 0.7em;
    }
    .modal_content {
        width: 320px;
        min-height: 180px;
    }
}